body {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* Ensure other buttons get toggle styles */
.btn-check:checked + .btn-outline-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .btn-check:checked + .btn-outline-secondary:focus {
    box-shadow: none;
  }
  
  .btn-check + .btn-outline-secondary {
    margin-right: 0.5rem;
  }
  
  .btn-check:focus + .btn-outline-secondary {
    outline: none;
    box-shadow: none;
  }
